@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

html{
  font-size: 62.5%;
}

body {
  @apply font-primary;
  @apply bg-nord-neutral-10;
  font-size: 1.6rem;
  color: white;
  font-weight: 400;
}

@layer components{
  .social{
    @apply text-[3.2rem] text-yellow-500 rounded-[50%]
  }
}

@layer components{
  .service{
    @apply flex flex-col items-center max-w-[210px] text-center mb-[5rem] laptopMD:max-w-[300px]
  }

  .img-service{
    @apply max-w-[133px] mb-[2rem] laptopMD:max-w-[140px]
  }

  .title{
    @apply text-[2.2rem] font-[600] mb-[1rem] laptopMD:text-[2.6rem]
  }

  .description{
    @apply text-[1.5rem] laptopMD:text-[1.9rem]
  }
}

@layer components{
 .text-key{
  @apply text-yellow-500
 }
}


  .swiper {
    @apply !flex !flex-col justify-center !max-w-full !mt-[4rem] !overflow-hidden !gap-[2rem]
  }
  
  .swiper-pagination{
    @apply bottom-0
  }
  
  .swiper-slide {
    @apply !w-[200px] !mr-0 !flex !items-center !justify-center bg-center bg-cover
  }
  
  .swiper-wrapper{
    @apply !flex !items-center !justify-start
  }
  
  .swiper-pagination-bullet{
    @apply !bg-white !opacity-100;
  }

  .swiper-pagination{
    @apply !relative
  }
  
  .swiper-pagination-bullet-active {
    @apply !bg-yellow-500;
  }

  .swiper-slide img {
    @apply !w-[200px] !max-w-full tabletSM:!w-[400px]
  }

 
